$primary-color: #19a1ad;
$light-color: #fff;
$text-dark-color: #000000;
$text-light-color: #aeaeae;
$bg-img-1: url('file:///Users/amirshakouri/Desktop/htmlCourse/Amir-noosh/1/files/img/bg-pattern-top.svg');
$bg-img-2: url('file:///Users/amirshakouri/Desktop/htmlCourse/Amir-noosh/1/files/img/bg-pattern-bottom.svg');
$bg-profile-header-img: url('file:///Users/amirshakouri/Desktop/htmlCourse/Amir-noosh/1/files/img/bg-pattern-card.svg');
$profile-pic: url('file:///Users/amirshakouri/Desktop/htmlCourse/Amir-noosh/1/files/img/image-victor.jpg');
